header .night.out {
  animation: nightOut 3s forwards
}
header .night.in {
  animation: nightIn 3s forwards
}

header .night.out .lua{
  /* opacity: 0; */
  animation: luaOut 3s forwards
}
header .night.in .lua {
  /* top: 150px; */
  /* transition: top 3s cubic-bezier(0.15 , 0.73 , 0.47 , 0.93) ; */
  animation: luaIn 3s forwards
}


header .night .title {
  position: absolute;
  width: 100%;
  text-align: center;
  top: 50%;
  color: #fff;
  font-weight: 100;
  font-size: 3em;
  font-family: 'Pacifico', cursive;
}

header .night .title .avatar {
  width: 40px;
  height: 40px;
  background-image: url(../img/avatar.jpg);
  display: inline-block;
  border-radius: 50%;
  background-size: 100%;
}

header .night .noite {
  background: -webkit-linear-gradient(top, rgb(0, 0, 0) 50%, rgb(25, 19, 39)80%, rgb(43, 32, 72));
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
}

header .night .constelacao {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  animation: rotate 600s infinite linear;
}

header .night .estrela {
  background-color: white;
  border-radius: 50%;
  position: absolute;
  animation-name: estrela;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

header .night .estrela.style1 { animation-duration: 0.5s; animation-name: estrela; }
header .night .estrela.style2 { animation-duration: 1s; animation-name: estrela; }
header .night .estrela.style3 { animation-duration: 1.5s; animation-name: estrela; }
header .night .estrela.style4 { animation-duration: 2s; animation-name: estrelaDestacada; }

header .night .estrela.tam1 { width: 1px; height: 1px; }
header .night .estrela.tam2 { width: 2px; height: 2px; }
header .night .estrela.tam3 { width: 3px; height: 3px; }

header .night .estrela.opacity1 { opacity:  1; }
header .night .estrela.opacity2 { opacity: .5; }
header .night .estrela.opacity3 { opacity: .1; }

header .night .meteoro {
  position: absolute;
  background-color: #fff;
  width: 2px;
  height: 2px;
  border-radius: 50%;
  transform: rotate(-35deg);
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-duration: 1s;
}

header .night .meteoro:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
  width: 0;
  height: 0;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
  border-left: 85px solid white;
  position: absolute;
  left: 2px;
  top: 0;
}

header .night .meteoro.style1 { animation-name: meteoroStyle1; }
header .night .meteoro.style2 { animation-name: meteoroStyle2; }
header .night .meteoro.style3 { animation-name: meteoroStyle3; }
header .night .meteoro.style4 { animation-name: meteoroStyle4; }

header .night .lua {
  position: absolute;
  right: 200px;
  /* top: 150px; */
  top: 100%;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  box-shadow: 0 0 160px 0px #fff, 0 0 30px -4px #fff, 0 0 8px 2px rgba(255, 255, 255, 0.26);
  background-color: #fff;
  animation-name: lua;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-duration: 10s;
}

header .night .lua .textura {
  background-image: url(https://raw.githubusercontent.com/interaminense/starry-sky/master/src/img/bgMoon.png);
  background-position: center;
  background-size: 100%;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 50%;
  overflow: hidden;
  opacity: 0.4;
}

header .night .floresta {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
}

header .night .floresta img {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
}

@keyframes escurecer {
  0%   { top: 0; }
  100% { top: 100%; }
}

@keyframes estrela {
  0% {
    box-shadow: 0 0 10px 0px rgba(255, 255, 255, 0.05);
  }
  50% {
    box-shadow: 0 0 10px 2px rgba(255, 255, 255, 0.4);
  }
  100% {
    box-shadow: 0 0 10px 0px rgba(255, 255, 255, 0.05);
  }
}

@keyframes estrelaDestacada {
  0% {
    background-color: #FFFFFF;
    box-shadow: 0 0 10px 0px rgba(255, 255, 255, 1);
  }
  20% {
    background-color: #FFC4C4;
    box-shadow: 0 0 10px 0px rgb(255, 196, 196, 1);
  }
  80% {
    background-color: #C4CFFF;
    box-shadow: 0 0 10px 0px rgb(196, 207, 255, 1);
  }
  100% {
    background-color: #FFFFFF;
    box-shadow: 0 0 10px 0px rgba(255, 255, 255, 0.2);
  }
}

@keyframes meteoroStyle1 {
  0% { opacity: 0; right: 300px; top: 100px; }
  30% { opacity: .3; }
  60% { opacity: .3; }
  100% { opacity: 0; right: 1000px; top: 600px; }
}

@keyframes meteoroStyle2 {
  0% { opacity: 0; right: 700px; top: 100px; }
  30% { opacity: 1; }
  60% { opacity: 1; }
  100% { opacity: 0; right: 1400px; top: 600px; }
}

@keyframes meteoroStyle3 {
  0% { opacity: 0; right: 300px; top: 300px; }
  30% { opacity: 1; }
  60% { opacity: 1; }
  100% { opacity: 0; right: 1000px; top: 800px; }
}

@keyframes meteoroStyle4 {
  0% { opacity: 0; right: 700px; top: 300px; }
  30% { opacity: 1; }
  60% { opacity: 1; }
  100% { opacity: 0; right: 1400px; top: 800px; }
}

@keyframes lua {
  0%{
    box-shadow: 0 0 160px 0px #fff, 0 0 30px -4px #fff, 0 0 8px 2px rgba(255, 255, 255, 0.26);
  }
  50% {
    box-shadow: 0 0 80px 0px #fff, 0 0 30px -4px #fff, 0 0 8px 2px rgba(255, 255, 255, 0.26);
  }
  100% {
    box-shadow: 0 0 160px 0px #fff, 0 0 30px -4px #fff, 0 0 8px 2px rgba(255, 255, 255, 0.26);
  }
}

@keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes nightOut{
  to {
    opacity: 0;
  }
}
@keyframes nightIn{
  from{
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes luaOut {
  from {
    top: 150px;
  }
  to{
    top: 100%;
  }
}
@keyframes luaIn {
  to{
    top: 150px;
  }
}