:root{
  --gap: 10px;
  --color-l: #707070;

  --border-color: #e6e6e6;

  --color-link: #337ab7;
  --color-text: #333;
  --font-size: 14px;
  --font-size-small: 12px;
}

html, body{
  scroll-behavior: smooth;
}
body{
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
  color: var(--color-text);
  font-size: var(--font-size);
  font-family: Helvetica Neue For Number,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,PingFang SC,Hiragino Sans GB,Microsoft YaHei,Helvetica Neue,Helvetica,Arial,sans-serif;
  line-height: 1.5;
}

#app{
  padding: 10px;
  box-sizing: border-box;
  display: grid;
  /* grid-auto-rows: auto; */
  grid-template-columns: 25% 1fr;
  grid-gap: var(--gap);
  /* height: 100vh; */
  grid-template-areas: 
  "aside section";
}

aside {
  grid-area: aside; 
  align-self: start;
  position: sticky;
  top: 10px;
}

section {
  grid-area: section;    
}


header, nav, section, aside, footer {
  padding: var(--gap);
  background: #fff;
  border: 1px solid #e6e6e6;
}

.link{
  color: var(--color-link);
  cursor: pointer;
}
.link:hover{
  text-decoration: underline;
}

@media (max-width: 640px) {
  #app{
    grid-template-areas:
      "aside"
      "section";
    /* grid-template-rows: 80px 1fr; */
    grid-template-columns: auto;
  }
  aside{
    position: static;
  }
}