
body{
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
}
:root{
  --gap: 10px;
  --color-l: #777;
}

#app{
  padding: 10px;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 25% 1fr;
  grid-gap: var(--gap);
  /* height: 100vh; */
  grid-template-areas: 
  "aside section";
}
@media (max-width: 640px) {
  #app{
    grid-template-areas:
      "aside"
      "footer";
    grid-template-rows: 80px 1fr;
  }
}

aside {
  grid-area: aside; 
}

section {
  grid-area: section;    
}


header, nav, section, aside, footer {
  padding: 5px;
  background: #fff;
  border: 1px solid #e6e6e6;
}