*,:before,:after{
  box-sizing: border-box;
}
hr{
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #eee;
}
a{
  text-decoration: none;
  color: inherit;
  cursor: text;
}
h3, h4, h5{
  line-height: 1.1;
}
h3{
  font-size: 24px;
  margin: 20px 0 10px;
}
h4{
  margin: 10px 0;
  font-size: 18px;
}
h5{
  margin: 10px 0;
  font-size: 14px;
}
ul{
  margin: 0;
}
